.header {
  display: flex;
}

.header__logo {
  margin-top: 20px;
}

.header__list {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-top: 30px;
}

.header__list--link {
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
}

.header__button {
  color: white;
  margin-top: 20px;
  margin-left: 450px;
  border-radius: 40%;
  background: #014E56;
  border: 2px solid white;
}

.header__button:hover {
  background: rgb(244, 240, 240);
  color: black;
}

.navbar {
  margin-top: 150px;
}

.navbar__left {
  display: flex;
}

.navbar__left--img {
  margin-left: -80px;
}

.navbar__left--h1 {
  width: 550px;
  height: 55px;
  top: 250px;
  left: 165px;
  font-family: Livvic;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: left;
}

.navbar__right {
  margin-left: 700px;
  margin-top: -100px;
}

.navbar__right--hr {
  width: 50px;
  height: 4px;
  background: #79C8C7;
  margin-left: 20px;
  transform: translateY(-50px);
}

.navbar__right--hr:hover {
  background: white;
  transform: rotate(360deg);
}

.navbar__right--text {
  width: 445px;
  height: 112px;
  top: 83px;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.navbar__right--img {
  margin-top: 150px;
  margin-left: 50px;
}

.wrapper {
  width: 1440px;
  height: 684px;
  background: #012F34;
  margin-left: -20px;
  margin-top: -5px;
  display: flex;
}

.wrapper__left--hr {
  width: 50px;
  height: 4px;
  top: 840px;
  left: 165px;
  background: #F67E7E;
  margin-top: 200px;
  margin-left: 120px;
}

.wrapper__left--hr:hover {
  background: white;
  transform: rotate(360deg);
}

.wrapper__left--h2 {
  width: 445px;
  height: 144px;
  top: 898px;
  left: 165px;
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 50px;
  margin-left: 100px;
}

.wrapper__right--list {
  margin-top: 250px;
  list-style: none;
}

.wrapper__right--icon {
  margin-bottom: 20px;
}

.wrapper__right--list--h3 {
  width: 445px;
  height: 28px;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #F67E7E;
  margin-top: -70px;
  margin-left: 100px;
}

.wrapper__right--list--text {
  margin-top: 20px;
  margin-left: 100px;
  color: #FFFFFF;
}

.main {
  width: 1440px;
  height: 745px;
  background: #004047;
  margin-left: -20px;
}

.main__img {
  width: 147px;
  height: 70px;
  position: relative;
  margin-left: -40px;
}

.main__h4 {
  width: 932px;
  height: 96px;
  top: 1524px;
  left: 254px;
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.main__list {
  display: flex;
  margin-top: 70px;
  list-style: none;
}

.main__list--icon {
  margin-left: 50px;
}

.main__list--icon--img {
  margin-left: 100px;
}

.main__list--icon--text {
  width: 350px;
  height: 100px;
  top: 36px;
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  transform: translateY(-60px);
}

.main__list--icon--h4 {
  width: 350px;
  height: 28px;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #79C8C7;
  margin-left: -20px;
}

.main__list--icon--span {
  width: 350px;
  height: 18px;
  font-family: Livvic;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  transform: translateX(-50px);
}

.main__list--icon--item--img {
  margin-top: 50px;
  margin-left: 100px;
}

.main__item--img {
  width: 200px;
  height: 200px;
  top: 645px;
  left: 1440px;
  margin-left: 1240px;
  margin-top: 55px;
}

.sidebar {
  width: 1440px;
  height: 200px;
  top: 2129px;
  background: #F67E7E;
  margin-top: 150px;
  transform: translateY(-150px);
  margin-left: -20px;
}

.sidebar__h5 {
  width: 504px;
  height: 38px;
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: #012F34;
  margin: 0 auto;
  transform: translateY(50px);
}

.sidebar__button {
  color: white;
  margin-top: 20px;
  margin-left: 1200px;
  width: 153px;
  height: 48px;
  left: 764px;
  border-radius: 43%;
  background: #F67E7E;
  border: 2px solid rgb(9, 7, 7);
}

.sidebar__button {
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #012F34;
}

.sidebar__img {
  margin-left: -40px;
  transform: translateY(-50px);
}

.footer {
  width: 1440px;
  height: 220px;
  top: 2329px;
  background: #002529;
  margin-top: -150px;
  margin-left: -20px;
  display: flex;
}

.footer__head {
  list-style: none;
}

.footer__img {
  margin-top: 50px;
}

.footer__span {
  position: relative;
  margin-left: 20px;
}

.footer__head--span {
  margin-top: 30px;
  margin-left: -30px;
  color: #FFFFFF;
}

.footer__list {
  list-style: none;
  margin-top: 50px;
  transform: translateX(100px);
}

.footer__list--link {
  text-decoration: none;
  color: #a0a8a8;
}

.footer__item {
  list-style: none;
  margin-left: 500px;
  margin-top: 70px;
}

.footer__foot {
  list-style: none;
  display: flex;
}

.footer__icon {
  margin-left: -60px;
  margin-bottom: 20px;
}

.footer__foot--span {
  color: #a0a8a8;
  margin-left: -150px;
}/*# sourceMappingURL=main.css.map */