.header {
    display: flex;
}

.header__logo {
    margin-top: 20px;
}

.header__list {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-top: 30px;
}

.header__list--link {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}

.header__button {
    color: white;
    margin-top: 20px;
    margin-left: 450px;
    border-radius: 40%;
    background: #014E56;
    border: 2px solid white;
}

.header__button:hover {
    background: rgb(244, 240, 240);
    color: black;
}